<!--This code below is the navbar
It is supposed to show on all pages of the project. It will be a pain in the ass
to copy it and paste it on every single page.
This introduces a concept called TEMPLATE INHERITANCE in django.
One code is able to be inherited by different pages.
This is done by using an include statement to import the code into the desired page-->

{% load static %}


<nav class="navbar bg-dark mb-4 p-2 navbar-expand-sm fixed-to">
    <div class="container-fluid container">
        <a href="/" class="navbar-brand text-light logo">StudyMate</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form class="nav-link" action="{% url 'home' %}" method="GET" class="d-flex" role="search">
                        <input class="form-control text-light bg-dark me-2 search-background" name='q' type="search"
                            placeholder="Search rooms" aria-label="Search">
                    </form>
                </li>
                <li class="nav-item">
                    <div class="d-flex text-center nav-link">
                        {% if request.user.is_authenticated %}
                        <div class="m-auto mx-3 text-light">Hello, {{request.user.first_name}}</div>
                        <div>

                            <div class="dropdown">
                                <span class="m-2"><img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic"></span>
                                <a class=" " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span><i class="bi bi-chevron-down pt-2"></i></span>
                                </a>

                                <ul class="dropdown-menu bg-secondary">
                                  <li><a class="dropdown-item" href="#">Settings</a></li>
                                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                              </div>

                        </div>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
