{% load static %}
    <style>

        .nav-menu-icon{
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
  border: 0;
}

.hide-border{
    border: 0;
    outline: 0;
}

.navbar-toggler{
    border: 0;
    outline: 0;

}
    </style>
<nav class="navbar navbar-dark bg-dark fixed-top px-2">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-light logo">StudyMate</a>

      <form  action="{% url 'home' %}" method="GET" class="nav-link d-none d-md-flex w-50" role="search">
        <input class="form-control text-light bg-dark me-2 search-background" name='q' type="search"
        placeholder="Search rooms" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>

      <button class="navbar-toggler hide-border" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
        {% if request.user.is_authenticated %}
        <img class="profile-pic" src="{{request.user.profile.avatar.url}}" alt="Avatar">
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
        {% endif %}
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><a href="/" class="navbar-brand text-light logo">StudyMate</a></h5>
          <button type="button" class="btn-close btn-close-white float-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form  action="{% url 'home' %}" method="GET" class="d-flex mt-3 d-lg-none d-block nav-link" role="search">
                <input class="form-control text-light bg-dark me-2 search-background" name='q' type="search"
                placeholder="Search rooms" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
              <br class="d-lg-none d-block">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item text-light">
                <a class="nav-link" aria-current="page" href="{% url 'user-profile' request.user.id %}">View profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'update_profile' %}">Edit profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bookmarks' request.user.id %}"> Bookmarks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </nav>
