:root {
  --color-main: #71c6dd;
  --color-main-light: #e1f6fb;
  --color-dark: #3f4156;
  --color-dark-medium: #51546e;
  --color-dark-light: #696d97;
  --color-light: #e5e5e5;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #2d2d39;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
}

body {
  color: var(--color-light-gray);
  background-color: var(--color-bg);
  min-height: 100vh;
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: var(--color-main);
  text-decoration: none;
}

/***NAV BAR ***/

.navbar {
  margin-bottom: 200px;
}

.content {
  padding-top: 100px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

/** TOPICS SECTION */
.topics-header {
  margin-bottom: 2rem;
}

.topics-header h4 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dark-light);
}



.room-orm {
  width: 50%;
  margin-bottom: 10px;

    background-color: #15172b;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

/* .room-form input{
  background-color: #2d2d39;
  color: white;
}
 */
.center-form{
  margin: 0 auto;

}


.room-list-container,
.activity-container,
.topic-container {
  background-color: var(--color-dark);
}

.logo {
  font-size: 25px;
}

.logo::before {
  position: absolute;
  content: "";
  width: 50%;
  background: #ababab;
  height: 3px;
  width: 50px;
}

/** ACTIVITIES **/

.activities-header h3 {
  background-color: var(--color-dark-light);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 1.5rem;
  color: var(--color-light);
  letter-spacing: 1px;
  font-size: 1.4rem;
  border-radius: 5px 5px 0 0;
}

.activity-message {
  background-color: var(--color-bg);
}

.activity-conainer {
  background-color: var(--color-dark);
}

/** UPDATE ROOM */

.update-room-form input {
  background-color: #3f4156;
}

.update-room-form input,
.update-room-form textarea,
.update-room-form select {
  background: #64646f;
  border: 1px solid var(--color-dark-light);
  border-radius: 3px;
  color: var(--color-light);
  margin-bottom: 10px;
}

/** CREATE ROOM **/
.create-room {
  color: var(--color-light);
  border: 1px solid var(--color-gray);
  margin-left: 295px;
}

.top-container{
  width: 550px;
  height: 50px;
  background-color: rgb(54, 162, 162);
  border-radius: 20px 20px 0 0;
  margin: auto;
  display: flex;
}

.back-icon{
  margin: 10px -40px 20px 20px;
  font-size: 22px;
  color: white;
}

.create-room-title{
  border: 0;
  margin: auto;

}

.center-form label{
  margin-bottom: 5px;
}

.form-container{
  width: 550px;
  height: 700px;
  background-color: darkslategray;
  margin: auto;
  border-radius: 0 0 20px 20px;
}

/*** Login **/
.top-container-login{
  width: 400px;
  height: 50px;
  background-color: rgb(54, 162, 162);
  border-radius: 20px 20px 0 0;
  margin: auto;
  display: flex;
}


.form-container-login{
  width: 400px;
  height: 500px;
  background-color: darkslategray;
  margin: auto;
  border-radius: 0 0 20px 20px;
}

.center-form-login{
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: auto;
  color: white;
  padding-top: 50px;

}

.center-form-login input{
  display: block;
  width: 250px;
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}


/***Login Ends ***/

.center-form{
  width: 450px;
  height: 500px;
  padding: 10px;
  margin: auto;
  color: white;
}

.center-form input, textarea{
  display: block;
  width: 400px;
  border-radius: 7px;
  border: 0px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

.center-form input, textarea{
  background-color: #373745;
}

input:focus{
  border: 0;
}
