{% load static %}


<div class="">
  <div class="ms-5 d-lex top-room-section">
    <span class="study-room">
      <h2>Study Rooms</h2>
      <small>{{room_count}} Rooms Found</small>
    </span>
    <span class="">
      <a class="create-room btn mt-3" href="{% url 'create_room' %}"><i class="bi bi-plus-lg"></i>Create New Room</a>
    </span>
    <br>
  </div>

  {% for room in rooms %}
  <div class="card my-3 m-auto room-list-container">
    <div class="card-body my-3">
      <h5 class="card-title ">
        <h4 href="{% url 'room' room.id %}">{{room.name}}</h4>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {% if room.host.profile.avatar %}
        <img src="{{room.host.profile.avatar.url}}" alt="Avatar" class="profile-pic">
        {% else %}
        <img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic">
        {% endif %}
        <a href="{% url 'user-profile' room.host.id %}">
          <div>
          @{{room.host}}
        </div>
        </a>
      </h6>
      <p class="card-text container">{{room.description}}.</p>
      <hr>
      <a href="{% url 'room' room.id %}" class="">Go to room</a>
      <small class="ms-5">{{room.topic}}</small>
      <div class="float-end">
        <i class="bi bi-people"></i>
        {{room.participants.count}} joined
      </div>
    </div>
  </div>
  {% endfor %}

  <br>
</div>
