{% extends 'main.html' %}


{% block content %}


<style>

.mydiv {
  height:100vh;
  overflow-y: scroll;
}

</style>


<div class="home-container mx-0 ">
    <div class="row">
        <!--TOPICS-->
        <div class="topics col-2 mydiv d-none d-sm-block">
            {% include 'baseapp/topic_component.html' %}
        </div>

        <!--HOME FEED-->
        <div class="col-7 mydiv">
            {% include 'baseapp/home_feed.html' %}
        </div>

        <!--RECENT ACTIVITIES-->
        <div class="col-3 mydiv d-none d-sm-block ">
            {% include 'baseapp/activities_component.html' %}
        </div>

    </div>

</div>


{% endblock content %}
