{% extends 'main.html' %}

{% block content %}

{% load static %}
<div class="profile-wrapper row">
    <div class="col-2 d-none d-sm-block">
        {% include 'baseapp/topic_component.html' %}
    </div>
    <div class="col-7 mobile-room-wrapper">
        <div class="text-center container">
            <h3>
                {% if user.profile.avatar %}
                <img src="{{user.profile.avatar.url}}" alt="Avatar" class="profile-pic"> &nbsp;{{user.first_name}}
                {% else %}
                <img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic"> &nbsp;{{user.first_name}}
                {% endif %}
            </h3>
            <a href="{% url 'update_profile' %}">Edit Profile</a>
            <div class="text-start">
            <h2>About</h2>
            <p>
                {{user.profile.bio}}
              <!--   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod et, necessitatibus dignissimos mollitia laudantium tempore odio voluptatem non fugiat totam. -->
            </p>
        </div>
        <hr>
        </div>
        {% include 'baseapp/home_feed.html' %}
    </div>
    <div class="col-3 d-none d-sm-block">
        {% include 'baseapp/activities_component.html' %}
    </div>

</div>

{% endblock content %}
