{% extends 'main.html' %}

{% block content %}

{% load static %}

<!--NEW-->
<div class="flexcontainer row justify-content-around main-container">
    <div class="middlecontainer col-8 main-feed-display">

        <section class="twitterprofile">
            <div class="headerprofileimage">
                {% if user.profile.header %}
                <img src="{{user.profile.header.url}}" alt="Header" id="headerimage">
                {% else %}
                <img src="{% static 'images/header1.png' %}" alt="header" id="headerimage">
                {% endif %}
                {% if user.profile.avatar %}
                <img src="{{user.profile.avatar.url}}" alt="Avatar" class="profile-pic" id="profilepic">
                {% else %}
                <img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic" id="profilepic">
                {% endif %}

                {% if user == request.user %}
                <div class="editprofile">
                    <a href="{% url 'update_profile' %}">Edit Profile</a>
                </div>
                {% endif %}
            </div>
            <div class="bio">
                <div class="handle">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <span>@{{user.username}}</span>
                </div>

                <div>
                    {{user.profile.bio}}
                </div>

                <br>
                 <span><i class="fa fa-calendar"></i> Joined May 2013</span>
                <div class="nawa">
                    <div class="followers"> 4 <span>rooms created</span></div>
                    <div>14<span> rooms joined</span></div>
                </div>
            </div>
        </section>

        <br>
        <hr>
        <div class="">
            <h2>
                Rooms Hosted
            </h2>
            {% include 'baseapp/home_feed.html' %}
        </div>
    </div>

    <div class="col-3 d-none d-sm-block main-feed-display">
        {% include 'baseapp/activities_component.html' %}
    </div>


</div>
<!--NEW-->


{% endblock content %}


