{% extends 'main.html' %}


{% block content %}

<style>
    .mydiv {
        height: 100vh;
        overflow-y: scroll;
        background-color: #3f4156;
    }

    .dark-mode {
  background-color: rgb(214, 206, 206);
  color: white;
}

</style>

{% load static %}

<div class="room-wrapper mx-lg-1 row justify-content-between room-mobile-display">
    <div class="col-9 mydiv p-lg-4 room-mobile-display">
        <div class="p-lg-3 pt-3">
            {% if rooms.host == request.user %}
            <div class="float-end">
                <a href="{% url 'update_room' rooms.id %}"><span><i class="bi bi-pencil"></i></span></a>
                &nbsp; &nbsp;
                <a href="{% url 'delete-room' rooms.id %}"><span><i class="bi bi-trash"></i></span></a>
            </div>
            {% endif %}
            <div class="">
                <div class="">
                    <h1 class="mobile-room-name">{{rooms.name}}</h1>
                    <h6>Hosted by</h6>

                    <span>
                        <img src="{{rooms.host.profile.avatar.url}}" alt="Avatar" class="profile-pic">
                    </span>
                    <a href="{% url 'user-profile' rooms.host.id %}">@{{rooms.host}}</a>
                </div>

                <div class="container mt-3 description-length">
                    {{rooms.description | linebreaks}}
                </div>
            </div>
            <br>
            <p class="ms-2">
                <span>
                    {{rooms.topic}}
                </span>
                <span class="float-end">
                    {% if join_or_leave == 'join' %}
                    <a href="{% url 'join_room' rooms.id %}">Join</a>
                    {% else %}
                    <a href="{% url 'leave-room' rooms.id %}">Exit</a>
                    {% endif %}
                </span>
            </p>
        </div>
        <hr>
        <br>

        <div class="messages-wrapper p-3">
            <h2>Conversation</h2>
            {% for message in room_messages %}
            <div>

                <small class="">
                    {% if message.user.profile.avatar %}
                    <img src="{{message.user.profile.avatar.url}}" alt="Avatar" class="profile-pic">
                    {% else %}
                    <img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic">
                    {% endif %}
                    <a class="ms-3" href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>
                    &nbsp;&nbsp; {{message.updated|timesince}} ago
                </small>
                <div class="message-body">
                    <p class="mt-1">
                        {{message.body|linebreaks}}
                    </p>
                    <div class="pb-1 room-post-image">
                        {% if message.image %}
                        <a href="{{message.image.url}}"><img class="room-post-image" src="{{message.image.url}}"
                                alt="Post"></a>
                        {% endif %}
                    </div>
                    <div class="">
                        <span class="icon-tooltip">
                            <a save_id="{{message.id}}" class="save-button" href="{% url 'save' message.id %}">
                                <i id="bookmark{{message.id}}" class="fa fa-bookmark-o" aria-hidden="true"></i>
                            </a>
                            <small class="icon-tooltiptext">
                                Save
                            </small>
                        </span>
                        &nbsp;&nbsp;
                        <span class="icon-tooltip">
                            <a like_id = "{{message.id}}" class="like-button" href="{% url 'likes' message.id %}">
                                <?xml version="1.0" ?>
                                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z "
                                        fill="#A39292" class="fill-000000" />
                                </svg>
            &nbsp;<small><span id="like-button{{message.id}}" class="text-white">{{message.likes}}</span></small>
                            </a>
                            <small class="icon-tooltiptext">
                                Upvote
                            </small>
                        </span>
                        &nbsp;&nbsp;
                        <span class="icon-tooltip">
                            <a  dislike_id = "{{message.id}}" class="dislike-button" href="{% url 'dislike' message.id %}">
                                <?xml version="1.0" ?>
                                <?xml version="1.0" ?><svg height="24" viewBox="0 0 24 24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M20.901 10.566A1.001 1.001 0 0 0 20 10h-4V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v7H4a1.001 1.001 0 0 0-.781 1.625l8 10a1 1 0 0 0 1.562 0l8-10c.24-.301.286-.712.12-1.059zM12 19.399 6.081 12H10V4h4v8h3.919L12 19.399z"
                                        fill="#A39292"class="fill-000000" />
                                </svg>
                                &nbsp;<small><span id="dislike-button{{message.id}}" class="text-white">{{message.dislikes}}</span></small>
                            </a>
                            <small class="icon-tooltiptext">
                                Downvote
                            </small>
                        </span>
                        &nbsp;&nbsp;
                        <span class="icon-tooltip">
                            {% if message.user == request.user %}
                            <a class="" href="{% url 'delete-message' message.id %}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                <!--&nbsp;<small>delete</small>-->
                            </a>
                            <small class="icon-tooltiptext container">
                                Delete
                            </small>
                        </span>
                        {% endif %}
                    </div>
                </div>

            </div>
            <hr>

            {% endfor %}
            <!-- Button trigger modal -->

            <!-- Modal -->

            <br><br><br><br>



        </div>

        <!--WRITE MESSAGE-->
        <div class="write-message-form">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="msg-bottom">
                    <span class="bottom-icons write-message-input-group-append">
                        <!--  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button> -->
                        <label class="" style="cursor: pointer;">
                            <i class="fa fa-image h5"></i><input type="file" style="display: none;" name="image"
                                id="image">
                        </label>
                    </span>
                    <span class="mt-1">
                        <textarea class="write-message-form-control" name="body" rows="1"
                            placeholder='Write your message'></textarea>
                    </span>
                    <span class="write-message-input-group-append">
                        <button type="submit">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </span>
                </div>
            </form>

        </div>
        <!--UPLOAT IMAGE MODAL-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content  bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload image</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea class="write-message-form-control" name="body" rows="1"
                                placeholder='Add your caption here'></textarea>
                            <label class="py-2 btn btn-success">
                                <i class="fa fa-image h4"></i><input type="file" style="display: none;" name="image"
                                    id="image">
                            </label>
                            <button type="submit" class="btn btn-primary mt-1">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL ENDS-->


    </div>

    <!--PARTICIPANTS-->
    <div class="col-3 mydiv d-none d-md-block">
        <h2>Participants</h2>
        <div>
            <small>
                <strong class="text-white">{{participants.count}}</strong> joined
            </small>
        </div>
        <hr>

        {% for participant in participants %}
        <div>
            {% if participant.profile.avatar %}
            <img src="{{participant.profile.avatar.url}}" alt="Avatar" class="profile-pic">
            {% else %}
            <img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic">
            {% endif %}
            <a href="{% url 'user-profile' participant.id %}">@{{participant.username}}</a>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock content %}

{% block scripts %}
<script>
$(document).ready(function () {
 $('.like-button').click(function(event) {
    event.preventDefault();
    var url = $(this).attr('href');
    id = $(this).attr('like_id');

    like_id = 'like-button'+id;
    dislike_id = 'dislike-button'+id;

    //alert(idd);

    $.ajax({
      url: url,
      type: 'GET',
      success: function(data) {
        $(`#${like_id}`).empty();
        $(`#${like_id}`).text(data.like_count);

        $(`#${dislike_id}`).empty();
        $(`#${dislike_id}`).text(data.dislike_count);

      },
      error:function(data) {
        $('#like-button').append('error');

      },
    });
  });


  $('.dislike-button').click(function(event) {
    event.preventDefault();
    var url = $(this).attr('href');
    id = $(this).attr('dislike_id');
    dislike_id = 'dislike-button'+id;
    like_id = 'like-button'+id

    //alert(idd);

    $.ajax({
      url: url,
      type: 'GET',
      success: function(data) {
        $(`#${dislike_id}`).empty();
        $(`#${dislike_id}`).text(data.dislike_count);

        $(`#${like_id}`).empty();
        $(`#${like_id}`).text(data.like_count);

      },
      error:function(data) {
        alert("likes: " + data.dislike_count);
        $('#like-button').append(data.dislike_count);
        $('#like-button').append('error');

      },
    });
  });


  $('.save-button').click(function(event) {
    event.preventDefault();
    var url = $(this).attr('href');
    id = $(this).attr('save_id');

    save_id = 'bookmark'+id;

    //alert(idd);

    $.ajax({
      url: url,
      type: 'GET',
      success: function(data) {
        $(`#${save_id}`).toggleClass('fa fa-bookmark-o fa fa-bookmark');
        //alert("Message successfully saved. Check it later in you bookmarks!")
      },
      error:function(data) {
        alert("An error occured while saving")

      },
    });

});

});



</script>

<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>
{% endblock scripts %}
