{% extends 'main.html' %}


{% block content %}

<style>
    .mydiv {
        height: 100vh;
        overflow-y: scroll;
        background-color: #3f4156;
    }

</style>

{% load static %}

<div class="room-wrapper mx-lg-1 row justify-content-between room-mobile-display">
    <div class="col-9 mydiv p-5 card room-mobile-display">
        <div>
            {% if rooms.host == request.user %}
            <div class="float-end">
                <a href="{% url 'update_room' rooms.id %}"><span><i class="bi bi-pencil"></i></span></a>
                &nbsp; &nbsp;
                <a href="{% url 'delete-room' rooms.id %}"><span><i class="bi bi-trash"></i></span></a>
            </div>
            {% endif %}
            <div class="">
                <div class="">
                    <h1 class="mobile-room-name">{{rooms.name}}</h1>
                    <h6>Hosted by</h6>

                    <span>
                        <img src="{{rooms.host.profile.avatar.url}}" alt="Avatar" class="profile-pic">
                    </span>
                    <a href="{% url 'user-profile' rooms.host.id %}">@{{rooms.host}}</a>
                </div>

                <div class="container mt-3 description-length">
                    {{rooms.description | linebreaks}}
                </div>
            </div>
            <br>
            <p class="ms-2">
                <span>
                    {{rooms.topic}}
                    <span class="float-end">
                        <a href="{% url 'join_room' rooms.id %}">Join</a>
                    </span>
            </p>
        </div>
        <hr>
        <br>

        <div class="messages-wrapper bg-ark p-3">
            <h2>Conversation</h2>
            {% for message in room_messages %}
            <div>

                <small>
                    {% if message.user.profile.avatar %}
                    <img src="{{message.user.profile.avatar.url}}" alt="Avatar" class="profile-pic">
                    {% else %}
                    <img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic">
                    {% endif %}
                    <a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>
                    &nbsp;&nbsp; {{message.updated|timesince}} ago
                </small>
                <div class="message-body">
                    <p class="mt-1 ms-3">
                        {{message.body}}
                    </p>
                    <div class="p-3">
                        {% if message.image %}
                        <a href="{{message.image.url}}"><img class="room-post-image" src="{{message.image.url}}"
                                alt="Post"></a>
                        {% endif %}
                    </div>
                    <div class="d-flex">
                        {% if message.user == request.user %}
                        <div class="save-tooltip">
                            <a class="save-tooltip" href="{% url 'delete-message' message.id %}"><i
                                    class="bi bi-trash ms-3"></i></a>
                            <span class="tooltiptext ms-1">Delete</span>
                        </div>
                        {% endif %}
                        <div class="save-tooltip ms-2">
                            <a class="save-tooltip" href="{% url 'save' message.id %}"><i
                                    class="bi bi-bookmark"></i></a>
                            <span class="tooltiptext ms-1">Save post</span>
                        </div>

                    </div>
                </div>

            </div>
            <hr>
            {% endfor %}


        </div>

        <!--WRITE MESSAGE-->
        {% if request.user.is_authenticated %}
        <div class="write-message-form">
            <form action="" method="POST">
                {% csrf_token %}
                <input class="" style="height:50px;font-size:12pt;" class="mobile-message-form" name="body" type="text"
                    placeholder="Write your message here">
                <input type="file" name="image" id="image">
                <button class="btn btn-primary" type="submit"><i class="bi bi-send-fill"></i></button>
            </form>

        </div>
        {% endif %}
    </div>

    <!--PARTICIPANTS-->
    <div class="col-3 mydiv d-none d-md-block">
        <h2>Participants</h2>
        <div>
            <small>
                {{participants.count}} joined
            </small>
        </div>
        <hr>

        {% for participant in participants %}
        <div>
            {% if participant.profile.avatar %}
            <img src="{{participant.profile.avatar.url}}" alt="Avatar" class="profile-pic">
            {% else %}
            <img class="profile-pic" src="{% static 'images/my.jpg' %}" alt="profile pic">
            {% endif %}
            <a href="{% url 'user-profile' participant.id %}">@{{participant.username}}</a>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock content %}
